@charset "UTF-8";

.signUpMain{
	text-align:center;
	max-height : 35vh;
}

.signUpH{
	margin-top : 9vh;
	text-align : center;
}

.nickname{
	margin-top : 11vh;
	text-align : center;
}

.nickname span{
	position : relative;
	text-align : left;
}

.nickname input{
	position : relative;
	text-align : right;
}

.intro{
	margin-top : 7vh;
}

.profileImage{
	margin-top : 11vh;
}

.btnProfileSelect{
	margin-top : 7vh;
	display: block;
	width: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    position: relative;
    border: 0;
    display: inline-block;
    text-align: center;
    color: white;
    background-color : #3751b5;
    padding: 0.5vh 0.5vh;  
    font-size: 0.8em;
}

.btnProfileSelect:active{
  top: 1px;
  border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
  box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
  position: relative;
}

.btnSubmit{
	margin-top : 11vh;
	display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    position: relative;
    border: 0;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color : #3751b5;
    font-size: 4vh;
}

.btnSubmit:active{
  top: 1px;
  border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
  box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
  position: relative;
}

.img-box{
	background-image: url("/image/zha.jpeg");
	background-position : center;
	background-size : cover;
	border-radius: 50%;
	border : 1px solid #000000;
	margin: 0 auto;
    width: 200px;
    height: 200px;
}